

<div id="div1">
  <h1 id="h1">
       PHOTO GALLERY    
  </h1>
</div>
<div id="div2">
  <img src="assets/photo/bos11.jpg" width="250">
  <img src="assets/photo/bos2.jpg" width="250">
  <img src="assets/photo/bos3.png" width="250">
  <img src="assets/photo/bos4.jpg" width="250">
  <img src="assets/photo/bos5.jpg" width="250">
  <img src="assets/photo/bos6.jpg" width="250">
  <img src="assets/photo/bos7.jpg" width="250">
  <img src="assets/photo/bos10.jpg" width="250">
  <img src="assets/photo/bos8.jpg" width="250">
  <img src="assets/photo/bos9.jpg" width="250">
</div>
 
<div id="div3">
  <button id="button1" type="button"  [routerLink]="['/ricardo']"  routerLinkActive="active"  class="btn btn-secondary">Load more ...</button>
  
</div>
