video{
    position: fixed;
    right: 0; 
    bottom: 0; 
    min-width: 100%; 
    min-height: 100%;    
}


#container {
    width: 640px; 
    height: 500px;
    margin: auto;
    padding: 10px;
    position: relative;
    font-family: sans-serif;
}

h1{
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: center;
    font-size: 10em;
    text-shadow: 0 5px 10px rgba(0,0,0,5);
    mix-blend-mode: overlay;
    box-shadow: 0 5px 10px rgba(0,0,0,1);

} 